.main-pagina-inicio {

    height: 1400px;

    .main-pagina-inicio__section-video {

        .section-video__video-principal {
            width:1000px;
            margin: 0 auto;
            display: block;
            padding-top: 55px;
        }

    }


    .main-pagina-inicio__section-escenarios {
        margin-top: 50px;
        
        .section-escenarios__contenedor-imagenes {
            max-width: 1000px;
            position: relative;
            margin: 0 auto;

            .contenedor-imagenes__escenario {
                @include estiloEscenario;
                display: none;
            }
        }


        .section-escenarios__puntos {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 320px;
            transform: translate(-50%, -50%);


            .puntos__punto {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                margin:0 auto;
                transition: background-color 0.6s ease;
            }

            .puntos__punto:hover {
                background-color: #717171;
            }

            .active {
                background-color: #717171;
            }

        }




        .difuminado {
            animation-name: difuminado;
            animation-duration: 1.5s;
          }
          
          @keyframes difuminado {
            from {opacity: .4}
            to {opacity: 1}
          }
        



    }



    .main-pagina-inicio__section-personajes {
        margin-top:200px;

        .section-personajes__contenedor-personaje-robot {

            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center;

            .contenedor-personaje-robot__parrafo {
                width: 310px;
            }

            .contenedor-personaje-robot__imagen {
                width: 700px;
            }
        }




        .section-personajes__contenedor-personaje-mascota {

            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 60px;
            align-items: center;

            .contenedor-personaje-mascota__imagen {
                width: 320px;
            }

            .contenedor-personaje-mascota__parrafo {
                width: 310px;
            }



        }


        .section-personajes__contenedor-boss-final{

            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 60px;
            align-items: center;

            .contenedor-boss-final__imagen {
                width: 500px;

            }

            .contenedor-boss-final__parrafo {
                width: 310px;

            }

        }

    }








    /*.main-pagina-inicio__section-audios {



    }*/

}






















































