.main-pagina-inicio {

    .main-pagina-inicio__section-video {

        .section-video__video-principal {
            width:800px;
            margin: 0 auto;
            display: block;
            padding-top: 25px;
        }

    }


    .main-pagina-inicio__section-escenarios {

        .section-escenarios__carrousel {

            .carrousel__grande {

                .grande__imagen-escenario-alejandro {
                    @include estiloEscenario;
                }

                .grande__imagen-escenario-juanra {
                    @include estiloEscenario;
                }

                .grande__imagen-escenario-guille {
                    @include estiloEscenario;
                }

                .grande__imagen-escenario-victor {
                    @include estiloEscenario;
                }
            }

        }

    }



    /*.main-pagina-inicio__section-personajes {


    }



    .main-pagina-inicio__section-audios {



    }*/

}