.main-pagina-inicio {

    .main-pagina-inicio__section-video {

        .section-video__video-principal {
            width:600px;
            margin: 0 auto;
            display: block;
            padding-top: 25px;
        }

    }


    .main-pagina-inicio__section-escenarios {

        .section-escenarios__imagen-escenario {
            width: 600px;
        }

    }



    .main-pagina-inicio__section-personajes {


    }



    .main-pagina-inicio__section-audios {



    }

}